:root {
    --blue-color : #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --gray-color: #888;
}
/* Start Padding + Margin */
.pt-10 {
    padding-top: 10px;
}
.pt-20 {
    padding-top: 20px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-10 {
    padding-left: 10px;
}
.m-0 {
    margin: 0;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 15px;
}
/* End Padding + Margin */
/* Width & Height */
.w-fit {
    width: fit-content;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
/* Width & Height */
/* Start backround-color */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-ccc {
    background-color: #ccc;
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-red {
    background-color: var(--red-color);
}

.c-orange {
    color: var(--orange-color);
}
.c-blue {
    color: var(--blue-color);
}
.c-green {
    color: var(--green-color);
}
.c-black {
    color: black;
}
.c-red {
    color: var(--red-color);
}
.c-ccc {
    color: #ccc;
}
.c-gray {
    color: var(--gray-color);
}
.c-white {
    color: white;
}
.opacity-3 {
    opacity: .3;
}
/* End backround-color */

/* Start box layout */
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
@media (max-width: 767px) {
    .f-column-mobile {
        flex-direction: column;
    }
}
.gap-20 {
    gap: 20px;
}
.f-wrap {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.flex-1 {
    flex: 1;
}
/* End box layout */

/* Start Position */
.p-relative {
    position: relative;
}
/* End Position */

/* Start Font */ 
.text-c {
    text-align: center;
}
@media (max-width: 767px) {
    .text-c-mobile {
        text-align: center;
    }
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-25 {
    font-size: 25px;
}
.fw-bold {
    font-weight: bold;
}
/* End Font */

/* Start border */
.b-none {
    border: none;
}
.b-bottom {
    border-bottom: 1px solid #eee;
}
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rounded {
    border-radius: 50%;
}
.o-flow {
    overflow: hidden;
}
/* End border */

/* Hide Mobile */
@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}
/* Hide Mobile */

/* Start Components */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-grid {
    display: grid;
    gap: 20px;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
/* End Components */